<div class="list-movie">
  <div class="list-movie-container container">
    <form [formGroup]="searchForm" class="list-movie-container-form">
      <mat-form-field
        appearance="outline"
        class="list-movie-container-form__input"
      >
        <mat-label>Name movie</mat-label>
        <input
          matInput
          type="text"
          formControlName="search"
          placeholder="Movie"
        />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="list-movie-container-form__input"
      >
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option>-- None --</mat-option>
          <ng-container *ngFor="let type of typeMovies">
            <mat-option [value]="type">{{ type }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="list-movie-container-form__input"
      >
        <mat-label>Year</mat-label>
        <input
          matInput
          type="text"
          formControlName="year"
          placeholder="Placeholder"
        />
      </mat-form-field>
      <div>
        <button
          mat-flat-button
          color="primary"
          class="list-movie-container-form__button"
          [disabled]="searchForm.invalid"
          (click)="onSearch(searchForm.value)"
        >
          Search
        </button>
      </div>
    </form>
    <h2>Your Favorite Movies</h2>
    <div
      *ngIf="favoriteMovies$ | async as favoriteMovies"
      class="list-movie-container-favorites"
      cdkScrollable
    >
      <mat-card
        *ngFor="let movie of favoriteMovies"
        class="movie-card"
        [matTooltip]="movie.Title"
        mat-button
        (click)="viewDetail(movie.imdbID)"
      >
        <img mat-card-image class="movie-card__img" [src]="movie.Poster" />
        <mat-card-content class="movie-card__content">
          <p>{{ movie.Year }}</p>
          <p>{{ movie.Type }}</p>
        </mat-card-content>
        <mat-card-actions class="movie-card__actions">
          <button mat-button color="accent" (click)="removeFavorite(movie)">
            <mat-icon aria-hidden="false" aria-label="add-favorites"
              >remove</mat-icon
            >
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <h2>Films Found</h2>
    <div class="list-movie-container-result" *ngIf="movies$ | async as movies">
      <mat-card
        *ngFor="let movie of movies.Search"
        class="movie-card"
        [matTooltip]="movie.Title"
        matRipple
        matRippleColor="primary"
      >
        <img mat-card-image class="movie-card__img" [src]="movie.Poster" />
        <mat-card-content class="movie-card__content">
          <p>{{ movie.Year }}</p>
          <p>{{ movie.Type }}</p>
        </mat-card-content>
        <mat-card-actions class="movie-card__actions">
          <button
            mat-button
            type="submit"
            color="accent"
            (click)="addFavorite(movie)"
          >
            <mat-icon aria-hidden="false" aria-label="add-favorites"
              >add_circle_outline</mat-icon
            >
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
