<div class="login">
  <mat-card class="login-container container">
    <mat-card-header class="login-container-header">
      <mat-card-title>SIGN IN</mat-card-title>
    </mat-card-header>
    <mat-card-content class="login-container-body">
      <form [formGroup]="loginForm" class="login-container-body__form">
        <mat-form-field appearance="outline">
          <mat-label>User name</mat-label>
          <input
            matInput
            type="text"
            formControlName="userName"
            placeholder="Placeholder"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Placeholder"
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-footer class="login-container-footer">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="onClick(loginForm.value)"
        [disabled]="loginForm.invalid"
      >
        Login in
      </button>
    </mat-card-footer>
  </mat-card>
</div>
