@import '../src/assets/scss/index';

// changes containers
.container-fluid {
  @media (min-width: 1200px) {
    height: 100vh;
  }
  padding: 0;
  background: #18ffff;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(0,0,0,1) 100%);
}

.container {
  @media (min-width: 1200px) {
    max-width: 90%;
  }
  padding: 30px;
}

